{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="main">
            <h1 class="page-header">Сравнение</h1>

            <div class="placeholders" style="width: {{ width }}px;">
                {% for hotel in hotels %}
                <div  style="width: 400px; display: inline-block;" class="placeholder">
                    <img src="{{ hotel.image }}" width="240" height="240" class="img-circle">
                    <h4>{{ hotel.title }}</h4>
                    <span class="text-muted">{{ hotel.address|truncatechars:80 }}</span>
                </div>
                {% endfor %}
            </div>

            <h2 class="sub-header">Подробно по параметрам</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        {% for hotel in hotels %}
                            <th>{{ hotel.title }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Рейтинг</td>
                        {% for hotel in hotels %}
                            <th>{{ hotel.rating }}</th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>

{% endblock %}