{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="main">
            <h1 class="page-header">Сравнение</h1>

            <div class="placeholders" style="width: {{ width }}px;">
                {% for hotel in hotels %}
                <div  style="width: 400px; display: inline-block;" class="placeholder">
                    <img src="{{ hotel.image }}" width="240" height="240" class="img-circle">
                    <h4>{{ hotel.title }}</h4>
                    <span class="text-muted">{{ hotel.address|truncatechars:80 }}</span>
                </div>
                {% endfor %}
            </div>

            <h2 class="sub-header">Подробно по параметрам</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        {% for hotel in hotels %}
                            <th>{{ hotel.title }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Рейтинг</td>
                        {% for hotel in hotels %}
                            <th>{{ hotel.rating }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        {% for hotel in hotels %}
                            <th>{{ hotel.phone }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        {% for hotel in hotels %}
                            <th>{{ hotel.address }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Категория</td>
                        {% for hotel in hotels %}
                            <th>{% if hotel.category %}{{ hotel.category.title }}{% else %}Без категории{% endif %}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Теги</td>
                        {% for hotel in hotels %}
                            <th>{% for tag in hotel.tags %}
                                    <span class="label {% with "1234"|random as tag_label %}
                                        {% if tag_label == '1' %}label-danger{% endif %}
                                        {% if tag_label == '2' %}label-default{% endif %}
                                        {% if tag_label == '3' %}label-success{% endif %}
                                        {% if tag_label == '4' %}label-warning{% endif %}
                                    {% endwith %}">{{ tag.title }}</span>
                                    {% endfor %}</th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>

{% endblock %}