{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div id="treeview-checkable" class="treeview">
            </div>
            <button type="button" class="btn btn-success" style="margin: 0 auto; display: block" onclick="filter()">Отфильтровать</button>
        </div >
        <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
            <div class="row">
            {% for hotel in found_hotels %}
                <div class="col-xs-12 col-sm-6 col-md-6 main">
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-10">
                            <div class="media-left">
                                {% if not hotel.image %}
                                <img class="media-object" data-src="holder.js/128x128">
                                {% else %}
                                <img class="media-object img-circle" src="{{ hotel.image }}" style="width: 128px; height: 128px;">
                                {% endif %}
                            </div>
                            <div class="media-body">
                                    <h2 class="media-heading hotel_header">{{ hotel.title }}</h2>
                                    <p class="hotel_text">Адресс: {{ hotel.address }}</p>
                                    <p class="hotel_text">Телефон: {{ hotel.phone }}</p>
                                <p class="hotel_text">Рейтинг: <span class="label {% if hotel.rating < 3 %}label-danger{% elif hotel.rating < 5 %}label-warning{% elif hotel.rating < 8 %}label-default{% else %}label-success{% endif %}">{{ hotel.rating }}</span></p>
                                    <div class="tags">
                                        <span class="label {% with "1234"|random as tag_label %}
                                            {% if tag_label == '1' %}'label-danger'{% endif %}
                                            {% if tag_label == '2' %}'label-default'{% endif %}
                                            {% if tag_label == '3' %}'label-success'{% endif %}
                                            {% if tag_label == '4' %}'label-warning'{% endif %}
                                        {% endwith %}">Тег</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2">
                            <button type="button" id="add{{ hotel.id }}" class="btn btn-info" onclick="addToCompare({{ hotel.id }})" style="margin-top: 70%">Сравнить</button>
                            <button type="button" id="remove{{ hotel.id }}" class="btn btn-info hide" onclick="removeFromCompare({{ hotel.id }})" style="margin-top: 70%">Убрать из<br>сравнения</button>
                        </div>
                    </div>
                </div>
            {% empty %}
            <h1>К сожалению ваш запрос не вернул ничего :(</h1>
                <h2><a href="/">На главную</a></h2>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}